body {
  font-size: 14px;
  font-family: roboto, sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

/* ********************************************* */
.main_container {
  width: 80%;
  margin: auto;
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 30px;
}
/* *************************** MAIN ********************************** */

.banner {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/backgroung_image.jpg);
  color: white;
}

#logo_banner {
  width: 20%;
  max-width: 350px;
}

.pres_container {
  width: 75%;
  margin: auto;
}

.pres_container p {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
}

.box_graph,
.box_strategie,
.box_illustrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.quote P {
  width: 70%;
  margin: auto;
}
